.DS_Store
old
raw
pilots
scratch
analysis/teacher/scratchpad.ipynb
analysis/teacher/output
.ipynb_checkpoints
*.ipynb
model/teacher_2d/rectangleGame.wppl
*.ai
.Rproj.user
.RData
.Rhistory
*.Rproj
indiv
data/preprocessed
data/learner
data/teacher_1d
data/teacher_2d
analysis/learner
analysis/teacher_1d
analysis/teacher_2d
*.key
experiments/teacher_2d
model/teacher_2d
