
p {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
}

h3 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#studentWarning {
  color: red;
  text-align: center
}

#mushroomContainer {
  display: grid;
  grid-template-columns: repeat(10, 4vw);
  grid-template-rows: repeat(10, 4vw);
  gap: 3px;
  position: relative;
  align-items: center;
  justify-content: center;
}

#mushrooms {
  margin: auto;
  width: 60%;
}

#label {
  /* position: absolute; */
  font-size: 10px;
  float: top;
  bottom: 0px;
  /* justify-content: ; */
}

#xlabel {
  font-size: 13px;
  float: top;
}

#ylabel {
  font-size: 13px;
  float: top;
  transform: rotate(270deg);
}

/* #placeholder1 {
  grid-row: 9;
  grid-column: 2;
} */

/* #placeholder2 {
  grid-row: 10;
  grid-column: 1;
} */

#mushroomContainer div {
  aspect-ratio: 1;
}

#mushroomContainer img {
  width: 100%;
  height: auto;
  /* border: 0.01px solid green; */
}


/* #jspsych-html-slider-response-wrapper {
  margin: 200px 0px !important;
} */