
p {
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
}

h3 {
  width: 80%;
  text-align: center;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#studentWarning {
  color: #aa59d9;
  text-align: center
}

#mushroomContainer {
  display: grid;
  grid-template-columns: repeat(9, 4vw);
  grid-template-rows: repeat(9, 4vw);
  gap: 3px;
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
}

#mushrooms {
  margin: auto;
  width: 60%;
}

#label {
  /* position: absolute; */
  font-size: 10px;
  float: bottom;
  bottom: 0px;
  /* justify-content: ; */
}

#mushroomContainer div {
  aspect-ratio: 1;
}

#mushroomContainer img {
  width: 100%;
  height: auto;
  /* border: 0.01px solid green; */
}